<h1>Categories</h1>

<table>
	<tr>
		<th>category</th>
		<th>total_places</th>
		<th>total_chairs</th>
	</tr>
	<% @categories.each do |category| %>
		<tr id="">
			<td class='category'></td>
			<td class='total_places'></td>
			<td class='total_chairs'></td>
		</tr>
	<% end %>
</table>